In [ ]:
import pandas as pd
import xlrd
import mysql.connector
from datetime import datetime
import mysql.connector

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\yesha\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\yesha\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [ ]:
now = datetime.now()

In [ ]:
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="Yesha@2722",
  db = "dma_project1"
)

In [ ]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002126FE47430>

In [ ]:
cursor = mydb.cursor()
book = xlrd.open_workbook("datasets.xls")

In [ ]:
# Customer details table
#---------------------------------------------------------------------------------------------------------------------------
# Open the workbook and define the worksheet
book = xlrd.open_workbook("datasets.xls")
sheet = book.sheet_by_name("CUSTOMER DETAILS")

# Create the INSERT INTO sql query
query = """INSERT INTO customer_details (cust_id, first_name, last_name, registered_date, birth_date, email, address, city, zipcode) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		cust_id		= sheet.cell(r,0).value
		first_name	= sheet.cell(r,1).value
		last_name	= sheet.cell(r,2).value
		registered_date	= sheet.cell(r,3).value
		birth_date		= sheet.cell(r,4).value
		email	= sheet.cell(r,5).value
		address		= sheet.cell(r,6).value
		city		= sheet.cell(r,7).value
		zipcode		= sheet.cell(r,8).value
        
        
		registered_date = now.strftime('%Y-%m-%d')
		birth_date = now.strftime('%Y-%m-%d')
		# Assign values from each row
		values = (cust_id, first_name, last_name, registered_date, birth_date, email, address, city, zipcode)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.

In [ ]:
# Product Info table
#---------------------------------------------------------------------------------------------------------------------------
# Open the workbook and define the worksheet
sheet = book.sheet_by_name("PRODUCT INFO")

cursor = mydb.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO product_info (product_id, product_name, brand_name, product_category, product_price) VALUES (%s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		product_id		= sheet.cell(r,0).value
		product_name	= sheet.cell(r,1).value
		brand_name	= sheet.cell(r,2).value
		product_category	= sheet.cell(r,3).value
		product_price		= sheet.cell(r,4).value

		# Assign values from each row
		values = (product_id, product_name, brand_name, product_category, product_price)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()


# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.

In [ ]:
# Customer Segment History table
#---------------------------------------------------------------------------------------------------------------------------
# Open the workbook and define the worksheet
sheet = book.sheet_by_name("CUSTOMER SEGMENT HISTORY")

cursor = mydb.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO customer_segment_history (customer_id, total_orders, cust_value_seg, cust_tenure, cust_age) VALUES (%s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		customer_id		= sheet.cell(r,0).value
		total_orders	= sheet.cell(r,1).value
		cust_value_seg	= sheet.cell(r,2).value
		cust_tenure	= sheet.cell(r,3).value
		cust_age		= sheet.cell(r,4).value

		# Assign values from each row
		values = (customer_id, total_orders, cust_value_seg, cust_tenure, cust_age)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.

In [ ]:
# Stock details table
#---------------------------------------------------------------------------------------------------------------------------
# Open the workbook and define the worksheet
sheet = book.sheet_by_name("STOCK DETAILS ")

cursor = mydb.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO stock_details (stock_id, warehouse_id, stock_quantity, manager_id, product_id, article_id, SKU) VALUES (%s, %s, %s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		stock_id		= sheet.cell(r,0).value
		warehouse_id	= sheet.cell(r,1).value
		stock_quantity	= sheet.cell(r,2).value
		manager_id	= sheet.cell(r,3).value
		product_id		= sheet.cell(r,4).value
		article_id	= sheet.cell(r,5).value
		SKU		= sheet.cell(r,6).value

		# Assign values from each row
		values = (stock_id, warehouse_id, stock_quantity, manager_id, product_id, article_id, SKU)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.

In [ ]:
# campaign details table

# Open the workbook and define the worksheet
sheet = book.sheet_by_name("CAMPAIGN DETAILS")

cursor = mydb.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO campaign_details (campaign_id, campaign_name, c_start_date, c_end_date, product_id, article_id) VALUES (%s, %s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		campaign_id		= sheet.cell(r,0).value
		campaign_name	= sheet.cell(r,1).value
		c_start_date	= sheet.cell(r,2).value
		c_end_date	= sheet.cell(r,3).value
		product_id		= sheet.cell(r,4).value
		article_id	= sheet.cell(r,5).value

		c_start_date = now.strftime('%Y-%m-%d')
		c_end_date = now.strftime('%Y-%m-%d')
		# Assign values from each row
		values = (campaign_id, campaign_name, c_start_date, c_end_date, product_id, article_id)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

mydb.close()
# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.

In [ ]:
# sale_date table

# Open the workbook and define the worksheet
sheet = book.sheet_by_name("SALE DATE")

cursor = mydb.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO sale_date (order_id, customer_id, order_date) VALUES (%s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		order_id		= sheet.cell(r,0).value
		customer_id	= sheet.cell(r,1).value
		order_date	= sheet.cell(r,2).value

		order_date = now.strftime('%Y-%m-%d')
		# Assign values from each row
		values = (order_id, customer_id, order_date)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.

In [ ]:
# sales table

# Open the workbook and define the worksheet
sheet = book.sheet_by_name("SALES")

cursor = mydb.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO sales (order_id, customer_id, article_id, sales_price, discount_applied, order_date, campaign_id, product_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		order_id		= sheet.cell(r,0).value
		customer_id	= sheet.cell(r,1).value
		article_id	= sheet.cell(r,2).value
		sales_price	= sheet.cell(r,3).value
		discount_applied = sheet.cell(r,4).value
		order_date	= sheet.cell(r,5).value
		campaign_id = sheet.cell(r,6).value
		product_id = sheet.cell(r,7).value
        
        

		order_date = now.strftime('%Y-%m-%d')
		# Assign values from each row
		values = (order_id, customer_id, article_id, sales_price, discount_applied, order_date, campaign_id, product_id)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

mydb.close()
# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.

In [ ]:
# logistic_details table

# Open the workbook and define the worksheet
sheet = book.sheet_by_name("SHIPMENT DETAILS")

cursor = mydb.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO logistic_details (ship_id, ship_partner_id, ship_partner_name, camp_id, city, zipcode, customer_id, order_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		ship_id		= sheet.cell(r,0).value
		ship_partner_id	= sheet.cell(r,1).value
		ship_partner_name	= sheet.cell(r,2).value
		camp_id	= sheet.cell(r,3).value
		city = sheet.cell(r,4).value
		zipcode	= sheet.cell(r,5).value
		customer_id = sheet.cell(r,6).value
		order_id = sheet.cell(r,7).value
        
		# Assign values from each row
		values = (ship_id, ship_partner_id, ship_partner_name, camp_id, city, zipcode, customer_id, order_id)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.

In [ ]:
# logistic_details table

# Open the workbook and define the worksheet
sheet = book.sheet_by_name("CAMPAIGN PROCUREMENT DETAILS")

cursor = mydb.cursor()

# Create the INSERT INTO sql query
query = """INSERT INTO campaign_procurement_details (campaign_id, manager_id, buyer_id, brand_name, brand_id) VALUES (%s, %s, %s, %s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		campaign_id		= sheet.cell(r,0).value
		manager_id	= sheet.cell(r,1).value
		buyer_id	= sheet.cell(r,2).value
		brand_name	= sheet.cell(r,3).value
		brand_id = sheet.cell(r,4).value
        
		# Assign values from each row
		values = (campaign_id, manager_id, buyer_id, brand_name, brand_id)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

All Done! Bye, for now.